.button-success {
    color: white;
    background-color: rgb(33, 177, 40); 
    border: 1px solid rgb(33, 177, 40); 
    border-radius: 2px;
}

.button-success:hover {
    background-color:#139f36;
    border-color: #139f36;
    cursor: pointer;
}

.button-warning {
    color: black;
    background-color: rgb(226 190 56);
    border: 1px solid rgb(226 190 56);
    border-radius: 2px;
}

.button-warning:hover {
    background-color:#ceb569;
    border-color: #ceb569;
    cursor: pointer;
}

.button-light {
    color: black;
    background-color: rgb(251 250 243);
    border: 1px solid rgb(251 250 243);
    border-radius: 2px;
}

.button-light:hover {
    background-color:#dddbd3;
    border-color: #dddbd3;
    cursor: pointer;
}



