img {
    width: 150px;
    border: 1px solid red;
    height: 150px;
    border-radius: 50%;
    filter: grayscale(100%);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    position: absolute;
}

img:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
}

.img-success {
    border: 1px solid rgb(20, 194, 28); 
}

.img-warning {
    border: 1px solid rgb(226 190 56);
}

.img-danger {
    border: 1px solid #e95656;
}

.img-light {
    border: 1px solid rgb(251 250 243);
}

.img-dark {
    border: 1px solid #000000;
} 